    <!--Video Background-->
  <video autoplay loop muted src="/images/backgroundvideo.mp4" type="video/mp4" class="responsive-video video" alt="Unsplashed background img 1"></video>
    <!--Sticky Nav-->
 <div class="navbar-fixed">
   <nav class="black" role="navigation">
    <div class="nav-wrapper container">
       <ul id="nav-mobile" class="right">
        <li><a href="sass.html" class="white-text">About</a></li>
        <li><a href="sass.html" class="white-text">Work</a></li>
        <li><a href="sass.html" class="white-text">Contact</a></li>
      </ul>
    </div>
  </nav>
 </div>
 <!--Header Text-->
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container headerMargin paddingHeader">
        <h1 class="header center teal-text text-lighten-2 hello">Hello, <span class="red-text lighten-3">I'm Joseph</span></h1>
        <hr id="divider">
        <div class="row center">
          <h3 class="header col teal-text text-lighten-2 description">I am a <span class="deep-orange-text ligthen-3">Full Stack Developer</span> based in Los Angeles, California.</h3>
        </div>
        <div class="row center">
          <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Download my Resume</a>
        </div>
        <br><br>
      </div>
    </div>
  </div>

    <hr class="AboutDivider">
    <hr class="AboutDivider1">
    <hr class="AboutDivider2">

  <!--About Me Section-->
  <div class="container">
    <div class="section">
      <div class="row smallpadding">
        <div class="col s12 m12">
          <!--My Photo-->
           <div class="mypicturediv"><img src="/images/picture.jpg" class="responsive-img mypicture circle" alt="Unsplashed background img 2"></div>
        </div>
      </div>
      <div class="row">
        <!--Description 1-->
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons large">build</i></h2>
            <h5 class="center aboutmeHead">Passionate and Determined</h5>
            <p class="light center aboutme">I work hard to design the best websites and applications I can create. I pour a lot of love and effort into every project, wanting to go above and beyond everyone's expectations.</p>
          </div>
        </div>
        <!--Description 2-->
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">search</i></h2>
            <h5 class="center aboutmeHead">Always Learning</h5>
            <p class="light center aboutme">I'm always looking to expand my network, meet new people, hone my skill and learn new one. In a forever evolving industry, I like to stay on top of everything that's happening so I'm always prepared for anything.</p>
          </div>
        </div>
        <!--Description 3-->
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center aboutmeHead">Working with Others</h5>
            <p class="light center aboutme">I enjoy working with groups, learning from one another and collaborating together to make our ideas become a reality. I do well alone but I thrive greatly when working with a great team</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--My Work-->
  <hr class="workDivider">
  <hr class="workDivider1">
  <hr class="workDivider2">
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4 class="myWork">My Work</h4>
          <div class="row">
            <div class="col m6 s12">
              <div class="card small">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" class="responsive-img" src="/images/1stwork.png" alt="Phsychic Game Javascript">
                </div>
                <div class="card-content">
                  <span class="card-title activator cardHeadFont grey-text text-darken-4 center">Psychic Game<i class="material-icons right">arrow_upward</i></span>
                  <p><a class="linkGit" href="https://github.com/JosephBadua/Psychic-Game">Github Repo</a> <i class="small material-icons">code</i></p>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">Description<i class="material-icons right">close</i></span>
                  <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
              </div>
            </div>
            <div class="col m6 s12">
               <div class="card small">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" class="responsive-img" src="/images/2stwork.png" alt="Dragon Ball JQuery">
                </div>
                <div class="card-content">
                  <span class="card-title activator cardHeadFont grey-text text-darken-4">Card Title<i class="material-icons right">arrow_upward</i></span>
                  <p><a class="linkGit" href="https://github.com/JosephBadua/unit-4-game">Github Repo</a><i class="small material-icons">code</i></p>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                  <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
              </div>
            </div>
          </div>
           <div class="row">
            <div class="col m4 s12">
              <div class="card small">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" class="responsive-img" src="/images/3rdwork.png" alt="Trivia Game JQuery">
                </div>
                <div class="card-content">
                  <span class="card-title activator cardHeadFont grey-text text-darken-4">Card Title<i class="material-icons right">arrow_upward</i></span>
                  <p><a class="linkGit" href="https://github.com/JosephBadua/TriviaGame">Github Repo</a><i class="small material-icons">code</i></p>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                  <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
              </div>
            </div>
              <div class="col m4 s12">
            <div class="card small">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" class="responsive-img" src="/images/4thwork.png" alt="Giftastic APIs and JQuery">
                </div>
                <div class="card-content">
                  <span class="card-title activator cardHeadFont grey-text text-darken-4">Card Title<i class="material-icons right">arrow_upward</i></span>
                  <p><a class="linkGit" href="https://github.com/JosephBadua/giftastic">Github Repo</a><i class="small material-icons">code</i></p>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                  <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
              </div>
            </div>
              <div class="col m4 s12">
               <div class="card small">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" class="responsive-img" src="/images/5thwork.png" alt="Firebase and Moment.js Train Scheduler">
                </div>
                <div class="card-content">
                  <span class="card-title activator cardHeadFont grey-text text-darken-4">Card Title<i class="material-icons right">arrow_upward</i></span>
                  <p><a class="linkGit" href="https://github.com/JosephBadua/ChooChoo">Github Repo</a><i class="small material-icons">code</i></p>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                  <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
              </div>
            </div>
          </div>
           <div class="row">
             <div class="col m4 s12">
              <div class="card small">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" class="responsive-img" src="/images/6thwork.png" alt="Liribot Node Command Line Interface">
                </div>
                <div class="card-content">
                  <span class="card-title activator cardHeadFont grey-text text-darken-4">Card Title<i class="material-icons right">arrow_upward</i></span>
                 <p><a class="linkGit" href="https://github.com/JosephBadua/LiriBot">Github Repo</a><i class="small material-icons">code</i></p>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                  <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
              </div>
            </div>
              <div class="col m4 s12">
            <div class="card small">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" class="responsive-img" src="/images/7thwork.png" alt="Inquirer Node MySql Bamazon">
                </div>
                <div class="card-content">
                  <span class="card-title activator cardHeadFont grey-text text-darken-4">Card Title<i class="material-icons right">arrow_upward</i></span>
                  <p><a class="linkGit" href="https://github.com/JosephBadua/bamazon">Github Repo</a><i class="small material-icons">code</i></p>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                  <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
              </div>
            </div>
             <div class="col m4 s12">
               <div class="card small">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" class="responsive-img" src="/images/8thwork.png" alt="Friend Finder Heroku Mysql Node Express">
                </div>
                <div class="card-content">
                  <span class="card-title activator cardHeadFont grey-text text-darken-4">Card Title<i class="material-icons right">arrow_upward</i></span>
                  <p><a class="linkGit" href="https://github.com/JosephBadua/FriendFinder">Github Repo</a><i class="small material-icons">code</i></p>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                  <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
              </div>
            </div>
          </div>
            <div class="row">
             <div class="col m4 s12">
              <div class="card small">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" class="responsive-img" src="/images/9thwork.png" alt="Mysql Heroku Handlebars Express">
                </div>
                <div class="card-content">
                  <span class="card-title activator cardHeadFont grey-text text-darken-4">Card Title<i class="material-icons right">arrow_upward</i></span>
                 <p><a class="linkGit" href="https://github.com/JosephBadua/burger">Github Repo</a><i class="small material-icons">code</i></p>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                  <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
              </div>
            </div>
              <div class="col m4 s12">
            <div class="card small">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" class="responsive-img" src="/images/10thwork.png" alt="Project 1 API Firebase Bootstrap">
                </div>
                <div class="card-content">
                  <span class="card-title activator cardHeadFont grey-text text-darken-4">Card Title<i class="material-icons right">arrow_upward</i></span>
                  <p><a class="linkGit" href="https://github.com/barrd001/Market-View">Github Repo</a><i class="small material-icons">code</i></p>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                  <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
              </div>
            </div>
             <div class="col m4 s12">
               <div class="card small">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" class="responsive-img" src="/images/11thwork.png" alt="Sequelize MYSQL Heroku Handlebars Bootstrap Node Express">
                </div>
                <div class="card-content">
                  <span class="card-title activator cardHeadFont grey-text text-darken-4">Card Title<i class="material-icons right">arrow_upward</i></span>
                  <p><a class="linkGit" href="https://github.com/mjjohnston55/Project2">Github Repo</a><i class="small material-icons">code</i></p>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                  <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Contact Me-->
  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/images/background3.jpg" class="responsive-img" alt="Unsplashed background img 3"></div>
  </div>

  <!--Footer-->
  <footer class="page-footer teal">
      <div class="footer-copyright">
      <div class="container">
      <div class="row">
        <div class="col s12 m4 center">
          <a class="blue-text text-lighten-3" href="http://materializecss.com">LinkedIn</a>
        </div>
        <div class="col s12 m4 center">
          Joseph Badua 2019 
        </div>
        <div class="col s12 m4 center">
           <a class="black-text text-lighten-3" href="http://materializecss.com">Github</a>
        </div>
      </div>
      </div>
    </div>
  </footer>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
  <script src="/js/materialize.js"></script>
  <script src="/js/portfolio.js"></script>
