 body {
   font-size: 16px;
  font-family: 'Baloo', cursive;
 }
 nav ul a,
 nav .brand-logo {
   color: #444;
 }
 .section {
   padding-top: 0;
 }
 p {
   line-height: 2rem;
 }
 
 .sidenav-trigger {
   color: #26a69a;
 }
 
 .parallax-container {
   min-height: 100vh;
   line-height: 0;
   height: auto;
   color: rgba(255,255,255,.9);
 }
   .parallax-container .section {
     width: 100%;
   }
 
 @media only screen and (max-width : 992px) {
   .parallax-container .section {
     position: absolute;
     top: 40%;
   }
   #index-banner .section {
     top: 10%;
   }
 }
 
 @media only screen and (max-width : 600px) {
   #index-banner .section {
     top: 0;
   }
 }
 
 .icon-block {
   padding: 0 15px;
 }
 .icon-block .material-icons {
   font-size: inherit;
 }
 
 footer.page-footer {
   margin: 0;
 }
 .headerMargin {
   margin-top: 160px;
 }
 .paddingHeader {
   padding: 10px;
 }
 .video {
   position: absolute;
   width: 100%;
   height: 100vh !important;
   object-fit: cover;
   z-index: -1;
 }
 .black a {
   font-size: 24px;
 }
 .center-nav {
   text-align: center;
 }
 .hello {
   font-size: 6rem;
   text-shadow: 3px 1px 1px white;
 }
 .description {
   font-size: 3rem;
   padding: 0px 200px !important;
   text-shadow: 1px 1px 1px white;
 }
 #divider {
   height: 0.1vh;
   background: white;
   width: 50%;
 }
 .mypicturediv {
   text-align: center;
 }
 .mypicture {
   height:30vh !important;
   background: black !important;
 }
 .aboutme {
   font-size: 2rem;
 }
 .aboutmeHead {
   font-size: 3rem;
 }
