body {
    overflow-x: hidden;
}
.circle {
    margin-bottom:5%
}
.hello {
    font-family: 'Mansalva', cursive;
    font-size:20rem;
    text-align: center;
}
.title {
    height: 95vh;
    margin-left: -5rem;
}
.name {
    font-family: 'Cinzel', serif;
    font-size: 11rem;
    color:white;
    margin-left: -10rem;
}
.jumbotron {
    background-color: black !important;
    background: linear-gradient(135deg, black 50%, white);
}
.loader {
    border-radius: 100%;
    width: 220px;
    height: 220px;
    animation: spin 2s linear infinite;
    z-index: 10;
}
.counter {
    text-align: center;
    font-family: 'Mansalva', cursive;
    font-size:10rem;
}
.hidden {
    display: none;
}
.sub-name {
    font-family: 'Cinzel', serif;

    font-size: 4rem;
    margin-top: 10rem;
    margin-left: -10rem;
    width: 500px;
    color: white;

}
.fade {
    animation-name: fading;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
.flip-horizontal-bottom {  
    animation:flip-horizontal-bottom .4s cubic-bezier(.455,.03,.515,.955) both;
    animation:flip-horizontal-bottom .4s cubic-bezier(.455,.03,.515,.955) both;
}
.entrance {
    animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.slide-fwd-center {
    animation:slide-fwd-center .45s cubic-bezier(.25,.46,.45,.94) both;
    animation:slide-fwd-center .45s cubic-bezier(.25,.46,.45,.94) both;
    animation-delay: 3s;
    animation-fill-mode: 1s;
    animation-fill-mode: forwards;
}
.tracking {
    animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}
.line {
    height: 0.1vh;
    background: white;
    animation-name: cover;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@keyframes fading {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes flip-horizontal-bottom{
    0% {transform:rotateX(0);transform:rotateX(0)}
    100% {transform:rotateX(-180deg);transform:rotateX(-180deg)}
}
@keyframes slide-fwd-center{
    0% {transform:translateZ(0);transform:translateZ(0)}
    100%{transform:translateZ(160px);transform:translateZ(160px)}
}
@keyframes slide-in-elliptic-top-fwd {
    0% {
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform-origin: 50% 100%;
    opacity: 0;
    }
    100% {
    transform: translateY(0) rotateX(0) scale(1);
    transform-origin: 50% 1400px;
    opacity: 1;
    }
}

@keyframes tracking-in-contract-bck {
    0% {
      letter-spacing: 1em;
      transform: translateZ(400px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      transform: translateZ(0);
      opacity: 1;
    }
}
  
@keyframes cover {
    0% {width: 100%; height: 10px;}
    100% {width: 1%;}
}
@keyframes tall {
    
    100% {height: 500%;}
}