body {
    overflow-x: hidden;
}
.circle {
    margin-bottom:5%
}
.hello {
    font-family: 'Mansalva', cursive;
    font-size:20rem;
    text-align: center;
}
.title {
    height: 86vh;
    text-align: center;
}
.name {
    font-size: 10rem;
    padding-top: 13rem;
    transform: rotate(30deg);
}
.jumbotron {
    background-color: #013A6B;
    background-image: linear-gradient(30deg, #f3f3f3 50%, #3498db 50%);
    min-height: 500px;
}
.loader {
    border-radius: 100%;
    width: 220px;
    height: 220px;
    animation: spin 2s linear infinite;
    z-index: 10;
}
.counter {
    text-align: center;
    font-family: 'Mansalva', cursive;
    font-size:10rem;
}
.sub-name {
    font-size:4rem;
    transform: rotate(30deg);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
