body {
    overflow-x: hidden;
}
.circle {
    margin-bottom:5%
}
.descriptionText1 {
    font-family: 'Indie Flower', cursive;
    position: absolute;
    top: 10px;
    left: -200px;
    text-align: left;
    color: black;
    width: 70%;
    font-size: 5rem;
    position: absolute;
    z-index: 50;
}
.descriptionText2 {
    font-family: 'Indie Flower', cursive;
    position: absolute;
    top: 130px;
    left: -200px;
    text-align: left;
    color: black;
    width: 70%;
    font-size: 4rem;
    position: absolute;
    z-index: 50;
}
.descriptionText3 {
    font-family: 'Indie Flower', cursive;
    position: absolute;
    top: 220px;
    left: -200px;
    text-align: left;
    color: black;
    width: 60%;
    font-size: 5rem;
    position: absolute;
    z-index: 50;
}
.descriptionText4 {
    font-family: 'Indie Flower', cursive;
    position: absolute;
    top: 520px;
    left: -200px;
    text-align: left;
    color: black;
    width: 60%;
    font-size: 5rem;
    position: absolute;
    z-index: 50;
}
.hello {
    font-family: 'Mansalva', cursive;
    font-size:20rem;
    text-align: center;
}
.title {
    height: 95vh;
    margin-left: -5rem;
}
.name {
    position: absolute;
    font-family: 'Cinzel', serif;
    font-size: 11rem;
    color:white;
    margin-left: -10rem;
}
.jumbotron {
    background-color: black !important;
    background: linear-gradient(135deg, black 50%, white);
    margin-bottom: -5em !important;
}
.loader {
    border-radius: 100%;
    width: 220px;
    height: 220px;
    animation: spin 2s linear infinite;
    z-index: 10;
}
.counter {
    text-align: center;
    font-family: 'Mansalva', cursive;
    font-size:10rem;
}
.hidden {
    display: none;
}
.sub-name {
    font-family: 'Cinzel', serif;
    position: fixed;
    font-size: 4rem;
    margin-top: 40rem;
    margin-left: -10rem;
    width: 500px;
    color: white;

}
.fade {
    animation-name: fading;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
.fade1 {
    animation-name: fading;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
.fades {
    animation-name: fades;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
.section {
    height: 10px;
    background-image: linear-gradient(to right,#836323 0,#c3a568 51%,#836323);
    margin-top:5rem;
    margin-bottom:-2rem;
    z-index: 40;
}
.flip-horizontal-bottom {  
    animation:flip-horizontal-bottom .4s cubic-bezier(.455,.03,.515,.955) both;
    animation:flip-horizontal-bottom .4s cubic-bezier(.455,.03,.515,.955) both;
}
.entrance {
    animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.slide-fwd-center {
    animation:slide-fwd-center .45s cubic-bezier(.25,.46,.45,.94) both;
    animation:slide-fwd-center .45s cubic-bezier(.25,.46,.45,.94) both;
    animation-delay: 3s;
    animation-fill-mode: 1s;
    animation-fill-mode: forwards;
}
.tracking {
    animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}
.line {
    position: absolute;
    height: 0.1vh;
    width: 120%;
    background: white;
    margin-top: -1rem;
    margin-left: -15rem;
    animation: cover;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    z-index: 10;
}
.link1 {
    position: absolute;
    top: 275px;
    left: 20px;
    font-size: 6rem;
    color: white;
    z-index: 50;
    color: black;
    background: white;
    border: 5px solid skyblue;
    border-radius: 20px;
}
.link2 {
    position: absolute;
    top: 400px;
    left: 20px;
    font-size: 6rem;
    color: white;
    z-index: 50;
    color: dodgerblue;
    background: white;
    border: 5px solid skyblue;
    border-radius: 20px;
}
.link3 {
    position: absolute;
    top: 525px;
    left: 20px;
    font-size: 6rem;
    color: white;
    z-index: 50;
    color: rgb(0,119,181);
    background: white;
    border: 5px solid skyblue;
    border-radius: 20px;
}

.out {
    animation: fadeout;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.picture {
    position: absolute;
    height:700px;
    left: -200px;
    width: 100%;
    background: url("../assets/picture.png") no-repeat;
    background-size: contain;
    background-position: center left;
    padding: 80px 0 100px;
}
.goRight {
    position: absolute;
    left:157px;
    top:48.5px;
    z-index: 1;
    height:872px;
    width:798px;
    background: white;
}
.swing{
    animation: right 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.borderRight {
    border: 20px solid gold;
    position: absolute;
    right:150px;
    top:48.5px;
    z-index: 1;
    height:872px;
    width:798px;
}
.AboutMe {
    font-family: 'Playfair Display SC', serif;
    position: absolute;
    right:200px;
    top:100px;
    z-index: 50 !important;
    text-align: center;
    font-size:3rem;
    width: 700px;
}
.anotherline1 {
    position: absolute;
    right:350px;
    top:275px;
    z-index: 50 !important;
    height: 0.2vh;
    background: red;
    width: 400px;
}
.Joseph {
    font-family: 'Ranga', cursive;
    position: absolute;
    left:170px;
    top:775px;
    z-index: 50 !important;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-size: 8rem;
    width: 700px;
}
.anotherline2 {
    position: absolute;
    right:350px;
    top:475px;
    z-index: 50 !important;
    height: 0.2vh;
    background: red;
    width: 400px;
}
.anotherline3 {
    position: absolute;
    right:350px;
    top:700px;
    z-index: 50 !important;
    height: 0.2vh;
    background: red;
    width: 400px;
}
.AboutMe1 {
    font-family: 'Playfair Display SC', serif;
    position: absolute;
    right:200px;
    top:300px;
    z-index: 50 !important;
    text-align: center;
    font-size:3rem;
    width: 700px;
}
.AboutMe2 {
    font-family: 'Playfair Display SC', serif;
    position: absolute;
    right:200px;
    top:500px;
    z-index: 50 !important;
    text-align: center;
    font-size:3rem;
    width: 700px;
}
.work {
    font-family: 'Playfair Display SC', serif;
    position: absolute;
    right:200px;
    top:750px;
    z-index: 50 !important;
    text-align: center;
    font-weight: bolder;
    font-size:5rem;
    width: 700px;
    border-bottom: 5px solid #e15915;
}
.work:after {
    z-index: -1;
	position: absolute;
    top: 100%;
    left: 70%;
    margin-left: -25%;
    content: '';
    width: 0;
    height: 0;
    border-top: solid 30px #e15915;
    border-left: solid 30px transparent;
    border-right: solid 30px transparent;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@keyframes fading {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes fades {
    0% {opacity: 0;}
    50% {opacity: 0.5;}
    100% {opacity: 1;}
}
@keyframes fadeout {
    0% {opacity: 1;}
    100% {opacity: 0;}
}
@keyframes flip-horizontal-bottom{
    0% {transform:rotateX(0);transform:rotateX(0)}
    100% {transform:rotateX(-180deg);transform:rotateX(-180deg)}
}
@keyframes slide-fwd-center{
    0% {transform:translateZ(0);transform:translateZ(0)}
    100%{transform:translateZ(160px);transform:translateZ(160px)}
}
@keyframes slide-in-elliptic-top-fwd {
    0% {
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform-origin: 50% 100%;
    opacity: 0;
    }
    100% {
    transform: translateY(0) rotateX(0) scale(1);
    transform-origin: 50% 1400px;
    opacity: 1;
    }
}

@keyframes tracking-in-contract-bck {
    0% {
      letter-spacing: 1em;
      transform: translateZ(400px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      transform: translateZ(0);
      opacity: 1;
    }
}
  
@keyframes cover {
    0% {width: 100%;}
    20% {width: 1%; height: 0.1vh;}
    40% {width: 1%; height: 90vh;}
    100% {width: 70%; height: 90vh;}
}

@keyframes right {
    0% { transform: rotateY(0); transform-origin: right; }
    100% { transform: rotateY(180deg); transform-origin: right; }
  }
  
